<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles Index</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <th><%= article.title %></th>
        <th><%= article.description %></th>
        <th>Actions</th>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
